* {
  font-family: 'Open Sans', sans-serif;
}

.bgdark {
  background-color: #0d0d0d;
  opacity: 90%;
}

.nopadding {
  padding: 0px;
}

.bgblack {
  background-color: #0d090d;
}

.textdark {
  color: #0d090d;
}

.textyellow {
  color: #ffd731;
}

.textblue {
  color: #58d3fc;
}

.bgblue {
  background-color: #58d3fc;
}

.btndark {
  background-color: #0d090d;
}

.orange {
  background-color: #ffd731;
}

.webprise {
  font-family: 'Lobster', cursive;
}

.ini {
  font-family: 'Lobster', cursive;
}

.image {
  background-color: rgba(0, 0, 0, 0.8);
  filter: brightness(0.4);
}

.ceoquote {
  font-family: 'Supermercado One', cursive;
}

.textblack {
  color: #0d090d;
}

.quote {
  font-family: 'Supermercado One', cursive;
}

.black {
  background-color: black;
}

.divider {
  height: 7px;
}

.toperr {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .quote,
  .fot {
    font-size: 20px;
  }
}

@media screen and (max-width: 568px) {
  .quote,
  .fot {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 768px) {
  .ini {
    font-size: 20px;
  }
}

@media screen and (max-width: 568px) {
  .ini {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 768px) {
  .ceoquote {
    font-size: 20px;
  }
}

@media screen and (max-width: 568px) {
  .ceoquote {
    font-size: 1.2em;
  }
}
